<h1>Test Friendly Captcha component</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Naam:</label>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="contactForm.get('name')!.invalid && !contactForm.get('name')!.untouched">
      Naam is verplicht
    </div>
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input id="email" type="email" formControlName="email">
    <div *ngIf="contactForm.get('email')!.invalid && !contactForm.get('email')!.untouched">
      Geef een geldig e-mailadres op
    </div>
  </div>

  <div>
    <label for="message">Bericht:</label>
    <textarea id="message" formControlName="message"></textarea>
    <div *ngIf="contactForm.get('message')!.invalid && !contactForm.get('message')!.untouched">
      Bericht is verplicht
    </div>
  </div>

  <app-friendly-captcha></app-friendly-captcha>

  <button type="submit" [disabled]="contactForm.invalid">Verstuur</button>
</form>
